.loader {
  margin:10px auto;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  border-bottom: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@keyframes upDown {
    0% {
        top: 0;
    }
    50% {
        top: 10px;
    }
    100% {
        top: 0px;
    }
}

.relative {
    position: relative;
}

.up-down {
    top: 0;
    position: absolute;
    animation: upDown 1.3s infinite ease-out;
}

.margin-top {
    margin-top: 15px;
}
.margin-large-top {
    margin-top: 30px;
}
.no-padding {
    padding: 0;
}

.searchbar {
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0,0,0,.15);
}

.topbar .top-navbar .navbar-header {
    line-height: 69px;
}

.nav-search a {
    margin: 0;
    border-radius: 0 !important;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-right: 1px solid #00b0d4;
    color: #5b8bd9;
    transition: 300ms;
}

.nav-search a:last-child {
    border-right: 0;

}

.nav-search > button, input {
    border-radius: 0 !important;
    border: 1 !important;
}
.nav-search a.active {
    background: #5b8bd9 !important;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    transition: 300ms;
}

.card {
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0,0,0,.05);
}

.card .header {
    padding: 30px;
    /*background: linear-gradient(45deg,#00bdda, #0084c0);*/
    background: url("../img/bg1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card .lead-photo {
    overflow: hidden;
    width: 6em;
    height: 6em;
    border: 2px solid white;
    background: white;
    margin:auto;
    margin-top: 3em;
}

.card .lead-photo img {
    height: 6em;
}

.card > .lead-name, .lead-role, .lead-location {
    text-shadow: 0 0 20px rgba(0,0,0, 1);
}

.card .lead-medias li {
    display: inline-flex;
    font-size: 30px;
}

.card .body {
    padding: 30px;
}
.card .body p {
    margin: 0;
    padding: 10px 0;
}
.card .body .item-info {
    display: flex;
    background: #f2f7f8;
    padding:0;
    margin:0;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
    /*box-shadow: 0 0 10px rgba(0,0,0,.1);*/
}

.card .body .item-info i {
    padding: 10px 15px;
    font-size: 26px;
    color:white;
    background: #00bdda;
}
.card .body .item-info span {
    padding: 15px;
}

.rounded-button {
    border: 0;
    border-radius: 20px;
    padding: 8px 30px;
    color: #fff;
}
.rounded-button:hover {
    color: #fff;
}

.text-violet {
    color: #481996;
}

.violet-bg {
    background: linear-gradient(45deg,#02d1e1, #911bff);
}

.updateNow {
    display: none;
}

#metrica_consumo {
    max-height: 300px;
}

.white-border {
    border: 1px solid white;
}

#mensagemSemConsultas .modal-content {
    border:none;
}

#mensagemSemConsultas .modal-dialog {
    margin-top: 7%;
}

#mensagemSemConsultas .modal-header {
    position: relative;
    display: block;
    border-bottom: 0;
    border-radius: 4px 4px 0 0;
    color: #1dc9cc;
    padding-top: 40px;
    background: linear-gradient(45deg,#02d1e1, #911bff);
}

#mensagemSemConsultas .modal-footer {
    display: block;
    margin-top: 20px;
}

#mensagemSemConsultas .modal-title {
    width: 100%;
    font-size: 1.3em;
    text-align: center;
}

#mensagemSemConsultas .input-group-text {
    padding: .7rem .75rem;
}

#mensagemSemConsultas .close {
    width: 35px;
    height: 35px;
    padding: 4px;
    font-size: 16px;
    position: absolute;
    top: -10px;
    right: -10px;
    background: white;
    border-radius: 50em;
    box-shadow: 0 0 5px rgba(0, 0, 0, .4);
    opacity: 1;
}
