.simb-button {
    cursor: pointer !important;
    color: #42cdc0 !important;
    background-color: white;
    padding: 10px !important;
    margin-top: -10px !important;
    border-radius: 10px;
    font-weight: 500 !important;
    border: 2px solid white;
}

.simb-button:hover {
    color: white !important;
    background-color: #42cdc0 !important;
}

.simb-contratar-button1 {
    cursor: pointer;
    font-size: 35px;
    text-align: center;
    color: white;
    margin-bottom: 10px;
    background-color: #1de099;
    border-radius: 10px;
    padding: 5px;
    border: solid 1px #1de099;
}

.simb-contratar-button1:hover {
    color: #1de099;
    margin-bottom: 10px;
    background-color: white;
}

.simb-contratar-button2 {
    cursor: pointer;
    font-size: 35px;
    text-align: center;
    color: white;
    margin-bottom: 10px;
    background-color: #1dc8cd;
    border-radius: 10px;
    padding: 5px;
    border: solid 1px #1dc8cd;
}

.simb-contratar-button2:hover {
    color: #1dc8cd;
    margin-bottom: 10px;
    background-color: white;
}

@media screen and (max-width: 769px) {
    .simb-button {
        background-color: transparent !important;
        border: 0px !important;
        color: white !important;
        margin-left: 5px !important;
    }

    .simb-button:hover {
        background-color: transparent !important;
        border: 0px !important;
        color: white !important;
        margin-left: 5px !important;
    }

    .section {
        padding-right: 0px;
        margin-right: 0px;
        margin-left: 0px;
        padding-left: 0px;
    }

    .card-col {
        margin: 0 auto;
    }
}

#pesquisandopor {
    font-family: Montserrat;
    color: white;
    text-align: center;
    padding: 25px;
    font-weight: 500;
}

.selecionar {
    margin: -5px;
    margin-bottom: 5px;
    background: white;
    color: #57dba1;
    border: 1px solid #57dba1;
    border-radius: 10px;
    cursor: pointer;
}

.selecionar:hover {
    background: #57dba1;
    color: white;
    border: 1px solid white;
}

.selecionar.active {
    background: #57dba1;
    color: white;
    border: 1px solid white;
}

.ubi-card {
    overflow-x: hidden;
    overflow-y: hidden;
    max-height: 297px;
    background-color: #57dba2;
    color: white;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 15px;
}

.card-val {
    padding: 0px;
    font-size: 12px;
}

.card-nome {
    padding: 0px;
    font-size: 15px;
}

.divisor {
    width: 1151%;
    height: 1px;
    background: white;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: -10px;
}

.barra {
    padding-left: 0px;
    border-top: 1px solid #eeeff0;
    padding-top: 15px;
    padding-bottom: 15px;
}

.barra-item {
    margin-left: 20px;
    padding-top: 5px;
    margin-top: 10px;
}

.barra-divisor {
    border-bottom: 1px solid #eeeff0;
    padding-bottom: 15px;
}

.barra-item .principal {
    font-size: 16px;
}

.barra-item .complementar {
    font-size: 13px;
    color: #868e96;
}

.barra-seta {
    cursor: pointer;
    text-align: center;
    background: linear-gradient(#fff, #eee);
}

.barra-collapse {

}

.barra-collapse.closed {
    max-height: 190px;
    overflow-y: hidden;
}

#ubi-nome {
    font-size: 25px;
}