
  <div class="container">
            <div style="border-radius: 40px;" class="card">
                <div class="card-block">
                    <center class="m-t-0">                            
                      <span id="pesquisa_images">
                      </span>
                    <br/>
                    <br/>
                    <div class="col-md-6 col-xs-6 b-r">
                    <span id="progress_lead_Score"></span>
                    </div>
                      <br><br>
                        <h4 id="pesquisa_nome" class="card-title m-t-0">...</h4>
                        <span id="pesquisa_redes_sociais"></span>
                        <br/>
                    </center>
                    <div class="row" style="padding-left:20px; padding-bottom:5px;">
                        <div class="col-md-4 col-xs-6 b-r">
                            <i class="fa fa-envelope-o"></i>
                            <small class="text-muted">Email</small>
                            <br>
                            <h6 id="pesquisa_email">...</h6>
                            <br>
                            <small class="text-muted">Profissão</small>
                            <br>
                            <h6 id="pesquisa_profissao">...</h6>
                        </div>
                        <div class="col-md-4 col-xs-6 b-r">
                            <i class="fa fa-phone"></i>
                              <small class="text-muted">Telefone(s)</small>
                            <br>
                            <span id="pesquisa_telefones"></span> 
                            <!-- o colapse ficara no 4 elemento dentro do span -->
                        </div>
                        <div class="col-md-4 col-xs-6 b-r">
                          <i class="fa fa-globe"></i>
                            <small class="text-muted">Cidade | Estado</small>
                            <br>
                            <h6 id="pesquisa_cidade">...</h6>
                            <br>
                            <i class="fa fa-globe"></i>
                            <small class="text-muted">Idiomas</small>
                            <br>
                            <h6 id="pesquisa_idiomas">...</h6>
                        </div>


                    </div>

                    <div class="card-block" style="padding-top:5px; padding-bottom:5px;">

                        <hr class="m-t-0 m-b-20">
                        <center class="m-t-0"><h4 class="card-title m-t-0">Dados Pessoais</h4></center>
                        <div class="row" style="padding-left:0px; padding-bottom:5px;">
                            <div class="col-md-3 col-xs-6 b-r">
                              <i class="fa fa-id-card-o"></i>
                                <small class="text-muted">CPF</small>
                                <br>
                                <h6 id="pesquisa_cpf">... </h6>
                            </div>
                            <div class="col-md-3 col-xs-6 b-r">
                              <i class="fa fa-birthday-cake"></i>
                                <small class="text-muted">Data Nascimento</small>
                                <br>
                                <h6 id="pesquisa_data_nascimento">...</h6>
                            </div>
                            <div class="col-md-3 col-xs-6">
                                <small class="text-muted"> Idade</small>
                                <br>
                                <h6 id="pesquisa_idade">...</h6>
                            </div>           
                            <div class="col-md-3 col-xs-6">
                                <small class="text-muted"> Sexo</small>
                                <br>
                                <h6 id="pesquisa_sexo" >...</h6>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-7 col-xs-6 b-r">
                                <i class="fa fa-home "></i>
                                <small class="text-muted"> Endereços</small> <small id="quantidadeEnderecos"></small>
                                <h6 id="pesquisa_endereco" >...</h6>
                                <i style="text-align: left; display: none" id="vermaisenderecos"  class="fa fa-toggle-down expandContent"> Ver mais</i>
                                </br>
                                <h6 id="pesquisa_endereco2" style="display: none" >...</h6></br> 
                            </div>
                            <div class="col-md-5 col-xs-6 b-r">
                                <i class="fa fa-home "></i>
                                <small class="text-muted"> Pessoas relacionadas</small> <small id="quantidadePessoas"></small>
                                <h6 id="pesquisa_pessoa_relacionada" >...</h6>
                                <i style="text-align: left; display: none" id="vermaispessoas" class="fa fa-toggle-down expandContent2"> Ver mais</i>
                                </br>
                                <h6 id="pesquisa_pessoa_relacionada2" style="display: none" >...</h6></br>         
                            </div>
                        </div>
                    </div>
                    <hr class="m-t-0 m-b-20">
                    <center class="m-t-0"><h4 class="card-title m-t-0">Perfil Econômico</h4></center>
                    <div class="row" style="padding-left:0px; padding-bottom:5px;">
                        <div class="col-md-3 col-xs-6 b-r">
                          <i class="fa fa-money"></i>
                            <small class="text-muted">Renda Presumida</small>
                            <br>
                            <h6 id="pesquisa_faixa_renda">...</h6>
                        </div>
                        <div class="col-md-3 col-xs-6 b-r">
                            <i class="fa fa-money"></i>
                              <small class="text-muted">Renda Estimada</small>
                              <br>
                              <h6 id="pesquisa_renda">...</h6>
                          </div>
                        <div class="col-md-3 col-xs-6 b-r">
                          <i class="fa fa-thermometer-2"></i>
                            <small class="text-muted">Faixa de Risco</small>
                            <br>
                            <h6 id="pesquisa_risco">...</h6>
                        </div>
                        <div class="col-md-3 col-xs-6">
                          <i class="fa fa-tachometer"></i>
                            <small class="text-muted"> Score</small>
                            <br>
                            <h6 id="pesquisa_score">...</h6>
                        </div>

                    </div>
                    <div class="row" style="padding-left:0px; padding-bottom:5px;">
                        <div class="col-md-3 col-xs-6 b-r">
                          <i class="fa  fa-building-o"></i>
                          <small class="text-muted"> Empresas Vinculadas</small>
                          <h6 id="pesquisa_empresas" > ...</h6><br>
                          <h6 id="pesqusia_cnpj" > ...</h6>    
                          
                          
                        </div>
                        <div class="col-md-3 col-xs-6 b-r">
                          <i class="fa  fa-pie-chart"></i>
                          <small class="text-muted">Tem Empresa?</small>
                          <h6 id="pesquisa_possui_empresa" >...</h6>
                        </div>
                        <div class="col-md-3 col-xs-6 b-r">
                          <i class="fa  fa-pie-chart"></i>
                          <small class="text-muted">Participação Societária</small>
                          <h6 id="pesquisa_participacao_societaria" >...</h6>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <i class="fa fa-thermometer-2"></i>
                              <small class="text-muted"> Classe social</small>
                              <br>
                              <h6 id="pesquisa_classe_social">...</h6>
                          </div>
                    </div>
                    <hr class="m-t-0 m-b-20">
                    <center class="m-t-0"><h4 class="card-title m-t-0">Dados Complementares</h4></center>
                    <div class="row" style="padding-left:0px; padding-bottom:5px;">
                        <div class="col-md-4 col-xs-4 b-r">
                          <i class="fa fa-female"></i>
                            <small class="text-muted">Nome da Mãe</small>
                            <br>
                            <h6 id="pesquisa_mae" >...</h6>
                        </div>
                        <div class="col-md-4 col-xs-4 b-r">
                          <i class="fa fa-rocket"></i>
                            <small class="text-muted">Cidades que já morou</small>
                            <br>
                            <span id="pesquisa_cidades"></span><!-- inserir H6 para cada resultado -->

                        </div>
                        <div class="col-md-4 col-xs-4 b-r">
                            <p>
                                <i class="fa  fa-graduation-cap "></i>
                                <small class="text-muted"> Escolaridade</small>
                                <h5 id="pesquisa_nivel_escolaridade">...</h5>
                                <span id="pesquisa_escolaridade"><h6>...</h6></span>
                                </p>
                            </div>  
                    </div>

                    <!-- <img src="../assets/images/users/brasal.png" class="img-circle" width="70"/> -->
                </div>
                <div style="display: block" id="servidor_publico">
                    <hr class="m-t-0 m-b-20">
                    <center class="m-t-0"><h4 class="card-title m-t-0">Dados da empresa/órgão em que trabalha</h4></center>
                    <center class="m-t-0"><h5 class="card-title m-t-0">Órgãos e empresas da esfera Pública</h5></center>
                    <div class="row" style="padding-left:35px; padding-bottom:5px;">
                        <div class="col-md-3 col-xs-6 b-r">
                            <small class="text-muted">Nome da Empresa</small>
                            <br>
                            <h6 id="pesquisa_remuneracao_empresa" >...</h6>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <small class="text-muted">Cargo</small>
                            <br>
                            <h6 id="pesquisa_remuneracao_cargo">...</h6>
                        </div>
                        <div class="col-md-3 col-xs-6 b-r"><i class="fa fa-money "></i>
                            <small class="text-muted">Faixa Salarial</small>
                            <br>
                            <h6 id="pesquisa_remuneracao_remuneracao">...</h6>
                        </div>
                    </div>
                    <hr class="m-t-0 m-b-20">
                    <div class="row" style="padding-left:35px; padding-bottom:5px;">
                        <div class="col-md-6 col-xs-6 b-r">
                            <small class="text-muted">Tempo no cargo</small>
                            <br>
                            <h6 id="pesquisa_remuneracao_descricao">...</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!-- end card  -->


<script>    $('.expandContent').click(function(){
    $('#pesquisa_endereco2').slideToggle('slow');
});</script>


<script>    $('.expandContent2').click(function(){
    $('#pesquisa_pessoa_relacionada2').slideToggle('slow');
});</script>