<header class="topbar">
    <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
        <!-- ============================================================== -->
        <!-- Logo -->
        <!-- ============================================================== -->
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">
                <!-- Logo icon -->
                <b>
                    <img src="assets/images/logo-ubiplaces.png" alt="homepage" class="dark-logo"/>
                </b>
                <!--End Logo icon -->
                <!-- Logo text -->
                <span>
                         <!-- dark Logo text -->

                    <!-- Light Logo text -->
                         <img src="assets/images/logo-light-text.png" class="light-logo" alt="homepage"/></span> </a>
        </div>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <div class="navbar-collapse">
            <!-- ============================================================== -->
            <!-- toggle and nav items -->
            <!-- ============================================================== -->
            <ul class="navbar-nav mr-auto mt-md-0" style="height: 90px">
                <!-- This is  -->

                <li class="nav-item hidden-sm-down">
                    <form class="app-search" style="padding-top: 20px">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" id="Nome" class="form-control" placeholder="Nome"
                                       style="font-size: 16px">
                                <input type="email" id="Email" class="form-control" placeholder="Email (opcional)"
                                       style="font-size: 16px">
                                <input type="phone" id="Telefone" class="form-control"
                                       placeholder="Telefone (opcional)" style="font-size: 16px">
                                <input type="phone" id="CPF" class="form-control"
                                       placeholder="CPF (opcional)" style="font-size: 16px">
                                <button id="enriquecer" onclick="pesquisa();"
                                        class="btn btn-info waves-effect waves-light" type="button"><span
                                        class="btn-label"><i class="fa fa-search"></i></span>Enriquecer
                                </button>
                            </div>
                        </div>
                    </form>

                </li>


            </ul>

            <div class="card ">
                <div class="card-block">
                    <div class="d-flex flex-row">
                        <div id="iconeComprarCreditos" class="round align-self-center round-success"><a
                                href="comprarCreditos"><i class="ti-bar-chart"></i></a></div>
                        <div class="m-l-10 align-self-center">
                            <h4 id="statusUtilizacao" class="m-b-0">x de 30</h4>
                            <h5 id="alertaFranquia" class="text-muted m-b-0">Franquia</h5>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </nav>
</header>